<div id="card-signup">
    <div id="card-content">
      <div id="card-title">
        <h2>CREATE ACCOUNT</h2>
      </div>
      <form class="signup-form">

        <label for="username-signup" style="padding-top:13px">
            &nbsp;Username
          </label>
        <input id="username-signup" class="form-content" type="text" name="username" required />
        <div class="form-border"></div>

        <label for="email-signup" style="padding-top:13px">
            &nbsp;Email
          </label>
        <input id="email-signup" class="form-content" type="text" name="email" autocomplete="on" required />
        <div class="form-border"></div>

        <label for="password-signup" style="padding-top:22px">&nbsp;Password</label>
        <input id="password-signup" class="form-content" type="password" name="password" required />
        <div class="form-border"></div>

        <input class='signup-form' id="submit-btn" type="submit" name="submit" value="SIGN UP" />
      </form>
    </div>
  </div>
{{!-- HANDLE BARS WAY OF CODE LINK --}}
<script src="/js/signup.js"></script>s